[train] #train parameters
epoch = 32
batch_size = 8

reader_num = 1

optimizer = adam
learning_rate = 1e-3
weight_decay = 0
step_size = 1
lr_multiplier = 1

[eval] #eval parameters
batch_size = 8

reader_num = 1

[data] #data parameters

train_formatter_type = ZMDqn
valid_formatter_type = ZMDqn
test_formatter_type = ZMDqn

recursive = False
json_format = single

max_seq_length = 512

use_which = ss

[model] #model parameters
model_name = ZMDqn

output_dim = 19

[output] #output parameters
model_name = sample_qajudge

output_time = 1
test_time = 1

accuracy_method = SingleLabelTop1
output_function = Basic
output_value = micro_f1,macro_recall,macro_precision,macro_f1

tqdm_ncols = 100

[rl] # rl parameters
batch_size=4096
epsilone=0.9
gamma=0.75
target_update=20
memory_capacity=20000

n_actions=27
n_questions=3

[ml] # ml parameters
lgb_path=predict_net/